 *
 * style sheet for pacs help page
 ********************************/

.pacs-help h3,h4 {
  text-decoration: underline;
}

.pacs-help b#gi,b#g0,b#g1,b#g2,b#g3 {
  font-size: 85%;
  border: thin outset;
  margin: 0 0 0 0;
  padding: 0em .5em 0em .5em;
}

.pacs-help b#gi { background-color: #fff; }
.pacs-help b#g0 { background-color: #bbb; }
.pacs-help b#g1 { background-color: #afa; }
.pacs-help b#g2 { background-color: #ff9; }
.pacs-help b#g3 { background-color: #fbb; }

.pacs-help a {
  color: #009;
  text-decoration: underline;
}
.pacs-help li {
  padding: 0.3em 0 0.3em 0;
}

