/**
 * style sheet for pacs
 **********************/

#tree-page {
  font-size: 85%;
}
#tree-page a {
  color: #000;
  text-decoration: none;
  border: thin outset;
  padding: 0 .2em 0 .2em;
  margin: .2em;
  font-weight: normal;
}
#tree-page a:hover {
  color: #666;
}
#tree-page a:active {
  color: #666;
  border: thin inset;
}
#tree-page fieldset {
  margin: 0;
}
#tree-page a#gi { background-color: #fff; }
#tree-page a#g0 { background-color: #aaa; }
#tree-page a#g1 { background-color: #afa; }
#tree-page a#g2 { background-color: #ff9; }
#tree-page a#g3 { background-color: #fbb; }

/* tree */

#tree-page .tree a {
  margin:  0;
  padding: 0 .5em 0 .5em;
}
.tree ul {
  line-height: 1.6em;
}
.tree li.current { list-style-type: disc; }
.tree li.parent  { list-style-type: none; }
.tree li.sibling { list-style-type: none; }
.tree li.child   { list-style-type: none; }
.tree li b {
  color: #e00;
  margin-left: .2em;
}
#tree-page .tree a.current {
  color: #00c;
  font-weight: bold;
}
#tree-page .tree span.sel {
  margin-right: 0.4em;
}

/* roles */

#tree-page .roles a.role {
  background-color: #bbf;
}
#tree-page .roles a.sel-role {
  color: #008;
  font-weight: bold;
  background-color: #66f;
}

/* move */

#tree-page .move a.button {
  background-color: #bbf;
}
#tree-page .move span.sel {
  font-weight: bold;
}

/* perms */

#tree-page .perms a.undo {
  font-weight: bold;
  padding: 0 .8em 0 .8em;
}

/* help */

#tree-page div.help {
  text-align: right;
  margin-top: 0.3em;
}
#tree-page div.help a { background-color: #bbf; }
